black==24.10.0
bs4==0.0.2
docx==0.2.4
exception==0.1.0
flake8==7.1.1
fastapi==0.115.5
gradio==5.8.0
groq==0.13.0
mypy==1.13.0
langchain==0.3.9
langchain_community==0.3.9
pinecone==5.4.1
pre_commit==4.0.1
PyPDF2==3.0.1
pypdf==5.1.0
pytest==8.3.3
pytest-mock==3.14.0
python-dotenv==1.0.1
python-docx==1.1.2
types-requests==2.32.0.20241016
sentence-transformers==3.3.1
sentencepiece==0.2.0
uvicorn==0.32.1